:root{
    --cinza-claro:#f4f4f4;
    --cinza-escuro:#eaeaea;
    --cinza-fundo:#8d8d8d;
    --roxo:#322A4E;
    --laranja:#f6891d;
}

body{
    background-color: var(--cinza-fundo);
}

.container{
    background-color: var(--cinza-claro);
    margin: 1.5em 3em 1.5em 3em;
    border-radius: 1.5em;
    padding: 1.5em;
    height: 92vh;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}